<form>
	<input-debounce delay="500" placeholder="Search..." (value)="searchChanged($event)"></input-debounce>
</form>
<div *ngIf="seletedIntructor" class="list-group col-sm-12">
	<a (click)="onSelectCourse(course)" *ngFor="let course of coursesForIntructor" class="list-group-item list-group-item-action list-group-item-error">
              {{course.title}} | {{course.course}}
          </a>
</div>

<div class="list-group col-sm-12">
	<a *ngFor="let lis of instructorList " class="list-group-item list-group-item-action list-group-item-success" (click)="onSelect(lis)">
             {{lis.name}}
          </a>
</div>