<div>
  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#addClassModal">
 Launch add class
</button>

  <add-class></add-class>
  <div>

<app-view-schedule (selectedClass)='onSelectClass($event)'></app-view-schedule>



    <div class='col-xs-12 col-sm-12 col-md-12' *ngIf='overlaps'>

      <div class="dropup ">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    Dropup
    <span class="caret"></span>
  </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li *ngFor="let day of DaysOfWeek">
            <p (click)="filterOverlap(day)">{{day}} </p>
          </li>
        </ul>
      </div>



      <p>{{selectedDay}}</p>

      <div *ngFor="let lis of overlaps; let i = index">
        <p class=" col-xs-8 col-sm-8 col-md-8 bg-primary ">
          {{lis.minutes}} minutes | {{lis.otherUser.name}} | {{lis.start | date:'h:mm a'}} - {{lis.end | date:'h:mm a'}}
        </p>
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" attr.data-target="#SessionSchedulerModal{{i}}" >
 Launch Schedule
</button>
        <session-scheduler [input]="lis" [id]="i" ></session-scheduler>
      </div>
    </div>