<div *ngIf='user'>


<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input  class="form-control" id="name" placeholder="Name" [ngModelOptions]="{standalone: true}" [(ngModel)]='user.name' >
  </div>
<div class="form-group">
    <label for="age">age</label>
    <input  class="form-control" id="age" placeholder="age" [ngModelOptions]="{standalone: true}" [(ngModel)]='user.age' >
  </div>
  <div class="form-group">
    <label for="color">color</label>
    <input  class="form-control" id="color" placeholder="color" [ngModelOptions]="{standalone: true}" [(ngModel)]='user.color'>
  </div>  
  <button type="submit" class="btn btn-primary" (click)='test()'>Submit</button>
</form>


</div>
